
.mainPage {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

h1 {
  font-weight: bold;
  color: rgb(3, 101, 158);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 5%;
}

h4 {
  font-weight: bold;
  color: rgb(3, 101, 158);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.sponsorbox {
  margin-top: 1%;
  margin-bottom: 2%;
  padding-top: 1%;
  /* background-color: rgb(236, 252, 252); */
  text-align: center;
}

.patrocinioDiv {
  width: 30%;
  margin-bottom: 3%;
}

.sponsorDiv {
  margin-bottom: 3%;
  width: 30%;
}

.patrocinio {
  width: auto;
}

.sponsor {
  width: 180px;
}

.time {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  color: #ae2445;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.programm {
  font-weight: bold;
  text-align: center;
  color: #007ebf;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.percorso, .viabilita {
  width: 90%;
}

.titleFooter {
  font-size: 1rem;
  text-decoration: underline;
  margin-bottom: 2px;
}

.pFooter {
  margin-bottom: 2px;

}

.contacts {
  text-align: justify;
  font-size: 0.8rem;
  margin-top: 3%;
}

p .contacts {
  margin-bottom: 5px;
}

.footer {
  padding-bottom:5%;
  background-color: rgb(236, 252, 252);
}


@media screen and (max-width: 767px) {
  .sponsorbox {
    margin-top: 3%;
    padding: 0;
    padding-top: 2%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .patrocinioRow {
    padding-left: 7px;
    padding-right: 14px;
  }

  .sponsorRow {
    padding-left: 7px;
    padding-right: 14px;
  }

  .sponsor {
    width: 120px;
  }

}

@media screen and (max-width: 600px) {

  .patrocinioRow {
    padding-left: 30px;
  }

  .sponsorRow {
    padding-left: 30px;
  }

  .patrocinio {
    width: 80px;
  }

  .sponsor {
    width: 80px;
  }

  .contacts {
    padding-left: 10%;
  }

}