
h4 {
  font-weight: bold;
  color: #0070B4;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.sponsorbox {
  margin-top: 3%;
  padding-top: 3%;
  background-color: rgb(236, 252, 252);
  text-align: center;
}

.patrocinioDiv {
  width: 30%;
  margin-bottom: 3%;
}

.sponsorDiv {
  margin-bottom: 3%;
  width: 30%;
}

.patrocinio {
  width: auto;
}

.sponsor {
  width: 180px;
}


@media screen and (max-width: 767px) {
  .sponsorbox {
    margin-top: 3%;
    padding: 0;
    padding-top: 2%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .patrocinioRow {
    padding-left: 7px;
    padding-right: 14px;
  }

  .sponsorRow {
    padding-left: 7px;
    padding-right: 14px;
  }

  .sponsor {
    width: 120px;
  }

}

@media screen and (max-width: 600px) {

  .patrocinioRow {
    padding-left: 30px;
  }

  .sponsorRow {
    padding-left: 30px;
  }

  .patrocinio {
    width: 80px;
  }

  .sponsor {
    width: 80px;
  }

}