
.bg-light, .dropdown-menu {
  background-color:white !important; 
}

.dropdown-menu.show {
  background-color: white !important; 
} 
.navbar {
  font-weight: bold !important;
}

.logo {
  width: 100%;
}

.nav-link, .dropdown-item {
  color: #007ebf !important;
}

h1 {
  font-weight: 900;
  color: white;
  text-align: center;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 3vw;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

h2.titleBordeaux {
  color: #ae2445;
}

h2.titleBlue {
  color: #007ebf;
  font-size: 3.5vw;
}

h2.titleBlue.number {
  color: #007ebf;
  font-size: 5vw;
}


h3 {
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  margin-bottom: 1%;
}

.title {
  padding-top: 2%;
  padding-bottom: 1%;
  background-image: url("../assets/headerImages/headerphoto.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 230px;
  display:flex;
  align-items: center;
  justify-content: center;

}

.subtitle {
  padding-top: 1%;
  background-color: #0070B4;
  display:flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 600px) {
  .title {
    background-image: url("../assets/headerImages/headerphoto1.jpg");
    min-height: 150px;
  }

  .date {
    margin-left:70%;
  }

  h2 {
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0.5px 0.5px #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff;
  }
}
