.rules {
  text-align: center;
}

.pdf {
  margin-top: 5%;
}

embed {
  margin-bottom: 5%;
}

li {
  color: rgb(3, 101, 158);
}

.staff {
  padding-top: 3%;
  padding-bottom: 3%;
}

.albodoro, .titleHomepage {
  color: #ae2445;
}

.albodoroCategory {
  font-size: 1.0rem;
  color: #ae2445;
}

.rankingCategory {
  font-size: 1.0rem;
  color: #ae2445;
  text-align: left;
  margin-left: 4%;
}

.ranking {
  text-align: left;
}

.loading{
  padding: 10%;
}

.card, .card-header{
  background-color: rgb(236, 252, 252) !important;
}

.collapse, .collapsing {
  background-color: white !important;
}

.downloadList {
  margin-left: 4%;
}