.sidebox {
  margin: 15px;
  padding: 15px;
  background-color: rgb(236, 252, 252);
  text-align: center;
}

.mainSponsors {
  background-color: white;
}

.singleSponsor {
  padding-bottom: 15px;
}

.singleSponsor img {
  padding:10px;
  border: 0.3px solid #007ebf;
}

h5 {
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  color: #ae2445;
}

h6 {
  font-weight: bold;
  text-align: center;
  font-size: 1.5vw;
  color: #007ebf;
}


.mainSponsorMobile {
  display: none;
}

.mainSponsorDiv {
  text-align: center;
}

.mainSponsor {
  width: 90%;
  padding: 3%;
  padding-bottom: 10%;
}


@media screen and (max-width: 770px) {
  .sidebox {
    margin:0;
    padding:0;
  }
  .mainSponsorDesktop {
    display: none;
  }
  .mainSponsorMobile{
    display: inline-block;
    text-align: center;
  }
  .mainSponsor {
    width: 30%;
    padding: 3%;
  }

  .mainSponsorMobile img {
    border: 0.3px solid #007ebf;
    margin: 3px;
  }
}