.sidebox {
  margin: 15px;
  padding: 15px;
  background-color: rgb(236, 252, 252);
  text-align: center;
}

.program2017 {
  width: 100%;
}

.mainSponsorMobile {
  display: none;
}

.mainSponsorDiv {
  text-align: center;
}

.mainSponsor {
  width: 60%;
  padding: 3%;
}


@media screen and (max-width: 600px) {
  .sidebox {
    margin:0;
    padding:0;
  }
  .mainSponsorDesktop {
    display: none;
  }
  .mainSponsorMobile{
    display: inline-block;
    text-align: center;
  }
  .mainSponsor {
    width: 30%;
    padding: 3%;
  }
}