@font-face {
  font-family: 'DejavuSans';
  src: url('./fonts/DejaVu_Sans/DejaVuSans-Bold.ttf'); 
}

body {
  margin: 0;
  padding: 0;
  font-family: "DejavuSans" !important;
}

p {
  color: rgb(3, 101, 158);
}
